{% extends 'demoapp/base.html' %}

{% block content %}
<div class="container">
    <h1 class="text-center text-primary">Python Hashtag Data</h1>
    <br>
</div>
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-6">
    <h1 class="text-center">Testing...</h1>
    <br>
    <h3>The max and min tweets with #python over the passed seven days.</h3>
    <p>{{ start.tweet_date__max }}</p>
    <p>{{ stop.tweet_date__min }}</p>
    <br>
    <h3>How many days worth of tweets do we have?</h3>
    <p>{{ distance }}</p>
    <br>
    <br>
    <h3>How many tweets do we have in general?</h3>
    <p>{{ how_many }}</p>
    <br>
    <table class="table">
        {% for i in count %}
        <tr>
            <td>{{ i.date }}</td>
            <td>{{ i.count }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

<div class="col-xs-12 col-sm-12 col-md-4 col-lg-6">
    <h1 class="text-center">1, 2...</h1>
    <br>
    <h3>First three tweets with a scrubbed date.</h3>
    {% for tweet in status %}
    <p>{{ tweet.twt_date }}</p>
    {% endfor %}
    <br>
    <p>{{ cnt }}</p>
    <br>
    <h3>Max Tweet id</h3>
    <p>{{ max }}</p>
    <br>
    <table class="table">
            {% for i in test %}
            <tr>
                <td>{{ i.hour }}</td>
                <td>{{ i.count }}</td>
            </tr>
            {% endfor %}
    </table>
</div>
{% endblock %}